body {
	font: normal 14px Tahoma, Simsun;
	margin: 0;
	padding: 25px 0 0;
	vertical-align: baseline;
	background: #fff;
}

h1 {
	font: bold 26px "微软雅黑", tahoma;
	margin: 0 0 10px;
}

a {
	color: #0d63e3;
}

a:hover {
	color: #f54;
}

.header,.links,.footer {
	width: 700px;
	margin: 15px auto;
	padding: 2px;
	text-align: center;
}

.search {
	width: 700px;
	margin: 15px auto;
	padding: 8px 4px;
	text-align: center;
	background: #f8f8f8;
	border: 2px solid #f2f2f2;
}

.search form {
	width: 485px;
	margin: 0 auto;
}

.i {
	font-size: 16px;
	font-family: Tahoma;
	width: 360px;
	height: 24px;
	line-height: 24px;
	padding: 3px 6px;
	margin-right: 2px;
	background: #fff url(img/search_bg.png) no-repeat;
	border: 1px solid #b6b6b6;
	border-color: #7b7b7b #b6b6b6 #b6b6b6 #7b7b7b;
	display: inline-block;
}

.btn_wr {
	width: 97px;
	height: 34px;
	vertical-align: top;
	_padding-top: 1px;
	background: url(img/search_bg.png) no-repeat -202px bottom;
	display: inline-block;
}

.btn {
	font: normal 14px Tahoma;
	width: 95px;
	height: 32px;
	padding: 0;
	background: #ddd url(img/search_bg.png) no-repeat 0 -35px;
	cursor: pointer;
	border: 0;
}

.btn_h {
	background-position: -100px -35px;
}

.description {
	font-size: 12px;
	color: #888;
	margin: 0;
}

.hide {
	display: none;
}

.linkad {
	width: 712px;
	margin: 10px auto;
}

.sites {
	width: 700px;
	margin: 15px auto;
	padding: 4px;
	background: #fff;
	border: 2px solid #f2f2f2;
}

.sites dl {
	height: 36px;
	line-height: 36px;
	margin: 0;
	display: block;
}

.sites dl.alt {
	background: #f8f8f8;
	border-top: 1px solid #f2f2f2;
	border-bottom: 1px solid #f2f2f2;
}

.sites dt,.sites dd {
	text-align: center;
	display: block;
	float: left;
}

.sites dt {
	width: 60px;
}

.sites dd {
	width: 90px;
	margin: 0;
}

.footer {
	font-size: 11px;
	color: #888;
	margin: 15px auto;
}

.center {
	text-align: center;
	font-weight: bold;
}

.center a {
	color: #ff3300;
}