div#topbox {
	background-color: #FFFFCC;
	padding: 1px;
	text-align: center;
}
div#leftbox {
	/*position: absolute;
	left: 1px;*/
	float: left;
	width: 30%;
	margin: 10px;
	
}
div#contentbox {
	/*position: absolute;
	right: 1px;*/
	float: left;
	width: 30%;
	margin:10px;
}
div#footbox {
	background-color: #FFFFCC;
	padding: 5px;
	text-align: center;
	clear:both;
	font-weight: bold;
}
div.rightbar {
	padding-top: 50px;
}
.ulink {
	text-decoration: underline;
	color: #0000FF;
}
a {
	text-decoration:none;
	color: #000000;
}
a:hover {
	color: #0000FF;	
}
ul#rightlist > li {
	margin-bottom:10px;	
}
